@import "../../styles/app.css";

@keyframes tab-sweep {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    transform: translateX(350%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

html,
body,
#root {
  background: var(--zenbu-panel);
}

body.tab-dragging iframe {
  pointer-events: none;
}
